body {
  border: 8px solid var(--brand-color);
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1.3em;
  letter-spacing: .037em;
  font-family: var(--ThemeFont);
}

:root {
  --bg: #f3f0f0;
  --brand-color: #9AB9FF;
  --brand-complement: #2d4c77;
  --header-color: #1d314c;
  --body-color: #443d3d;
  --link-color: #FF6F61;
  --link-hover: #61a3ff;
  --link-teal: #2e747a;
  --link-teal-hover: var(--brand-complement);
  --code-bg: #e5dfde;
  --code-color: #2e747a;

  // Theme fonts
  --ThemeFont: 'Montserrat', sans-serif;
  --TitleFont: 'Nerko One', cursive;
  --b-tag-font: 'Inconsolata', monospace;
}

h1, h2 {
  color: var(--header-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-container {
  margin: 2rem 3rem;
  min-height: 50vh;
}

section.page {
  .contents {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 13px;
  }
}
